body{
  overflow-x: hidden;
}


.card{
    --bs-card-border-width:none !important;
    background-color: aqua !important;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  
}

/* Image container */
.image-container {
  position: relative;
  overflow: hidden;
}

/* Image */
.image-container img {
  width: 100%;
   height: auto;
}

/* Text overlay */
.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px;
}
/* Text style */
.text-overlay p {
  text-align: center;
  font-size: 18px;
}
.Card_Discription23{
  font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, Verdana, sans-serif;
  font-size:16px;
  line-height: var(--copy-small-line);
  color: var(--copy-color);
  font-weight: 400;
  padding: 26px;
  line-height:36px ;
  background-color: #d99536;
}
.Card_Discription24{
  font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, Verdana, sans-serif;
  font-size:16px;
  line-height: var(--copy-small-line);
  color: var(--copy-color);
  font-weight: 400;
  padding: 26px;
  line-height:36px ;
  background-color:whitesmoke;
}
.Card_Discription25{
  font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, Verdana, sans-serif;
  font-size:16px;
  line-height: var(--copy-small-line);
  color: var(--copy-color);
  font-weight: 400;
  padding: 26px;
  line-height:36px ;
  background-color: #d99536;
}
.Card_Discription26{
  font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, Verdana, sans-serif;
  font-size:16px;
  line-height: var(--copy-small-line);
  color: var(--copy-color);
  font-weight: 400;
  padding: 26px;
  line-height:36px ;
  background-color: beige;
}

.raise {
  --color: black;
  --hover:black;
  border-radius: 26px;
  border: 1px solid black;
  background: none;
  font-size: 14px;
  font-weight: 600;
   padding: 7px; 
  text-align: center;
}
/* button {
  color: var(--color);
  transition: 0.25s;
  border-radius: 8px;
} */
button:hover, button:focus {
  border-color: var(--hover black);
 
}
 button {
  background: none;
  border: 1px solid black;
 font-size: 12px;
  line-height: 0;
  margin: 0.5em; 
  text-align: center;
  /* padding: 1em; */
  /* border-radius: 8px; */
}
.raise:hover,
.raise:focus {
  box-shadow: 0 0.8em 0.8em -0.4em var(--hover);
  transform: translateY(-0.25em);
}
.code2{
  color:black;
  font: inherit;
}
button.Card_Discription_button{
  --color: black;
  --hover:black;
  border-radius: 26px;
  border: 1px solid black;
  background: none;
  font-size: 14px;
  font-weight: 600;
  padding: 4px;
  text-align: center;
  margin-top: 42px;
}
.Card_Discription_button:hover,
.Card_Discription_button:focus {
  box-shadow: 0 0.8em 0.8em -0.4em var(--hover);
  transform: translateY(-0.25em);
}
/* ------Second section styles---- */
.back-color-section{
  background-color: black;
  padding: 100px;
}
.main_top_heading-section{
  color: white;
  font-size: 40px;
  font-weight: 500;
}
.sub_heading-section{
  color: white !important;
  font-size: 24px;
}
.sub_heading_section_styles{
  color:white;
  font-weight: 500;
}
.small_parah_styles{
  color: white;

}
.sec-section_sub_styles{
  color: white;
  font-size: 24px;
  margin-top: 82px;
}
.sec-section_sub_styless{
  color: white;
  font-size: 24px;
  margin-top: 112px;
}
.sec_section_sub_parah{
  color: white;
}
/* -----pricing cards sttyles */
.pricing {
  display: -webkit-flex;
  display: flex;
  /* -webkit-flex-wrap: wrap; */
   /* flex-wrap: wrap; // it will be wrap in ipad device */ 
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.pricing-item {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  align-items: stretch;
  text-align: center;
  /* -webkit-flex: 0 1 330px; */
  flex: 0 1 330px;
}

.pricing-action {
  color: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

.pricing-action:focus {
  outline: none;
}

.pricing-feature-list {
  text-align: left;
}

.pricing-palden .pricing-item {
  font-family: 'Open Sans', sans-serif;
  cursor: default;
  color: black;
  background: #fff;
  border: 1px solid rgb(77, 75, 75) !important;
  box-shadow: 0 0 10px rgba(46, 59, 125, 0.23);
  /* border-radius: 20px 20px 10px 10px; */
  margin: 1em;
}

@media screen and (min-width: 66.25em) {
  .pricing-palden .pricing-item {
      margin: 1em -0.5em;
  }
  .pricing-palden .pricing__item--featured {
      margin: 0;
      z-index: 10;
      box-shadow: 0 0 20px rgba(46, 59, 125, 0.23);
  }
}

.pricing-palden .pricing-deco {
 /* padding: 20px; */
  position: relative;
} */

.pricing-palden .pricing-deco-img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 160px;
}

.pricing-palden .pricing-title {
  font-size: 0.75em;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #fff;
}

.pricing-palden .deco-layer {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.pricing-palden .pricing-item:hover .deco-layer--1 {
  -webkit-transform: translate3d(15px, 0, 0);
  transform: translate3d(15px, 0, 0);
}

.pricing-palden .pricing-item:hover .deco-layer--2 {
  -webkit-transform: translate3d(-15px, 0, 0);
  transform: translate3d(-15px, 0, 0);
}

.pricing-palden .icon {
  font-size: 2.5em;
}

.pricing-palden .pricing-price {
  font-size: 5em;
  font-weight: bold;
  padding: 0;
  color: #fff;
  margin: 0 0 0.25em 0;
  line-height: 0.75;
}

.pricing-palden .pricing-currency {
  font-size: 0.15em;
  vertical-align: top;
}

.pricing-palden .pricing-period {
  font-size: 0.15em;
  padding: 0 0 0 0.5em;
  font-style: italic;
}

.pricing-palden .pricing__sentence {
  font-weight: bold;
  margin: 0 0 1em 0;
  padding: 0 0 0.5em;
}

.pricing-palden .pricing-feature-list {
  margin: 0;
  padding: 0.25em 0 2.5em;
  list-style: none;
  text-align: center;
}

.pricing-palden .pricing-feature {
  padding: 1em 0;
}

.pricing_cards_header_text{
  background-color: #c5dbf2;
  border-bottom:underline ;
}
.pricing_card_text_styles{
  /* text-decoration-line: underline;
  text-decoration-style: solid; */
  border-bottom: .0125rem solid #dbd9d2;
  max-height: 4.75rem;
        padding-top: 10px;
        padding-bottom: 1.25rem;
        padding-left: 1.5625rem;
        text-align: left;
        font-size: 12px;
}
.check_icon_style{
  text-align: left;
}
.pricimg_card_main_head{
  color: rgba(36, 28, 21, .65);
  margin-left: -136px;
  font-size: 1.5rem;
  line-height: 0;
  margin-top: ;
}
.pricing_card_price{
  font-family: 'Means Web, Georgia, Times, Times New Roman, serif';
  font-weight: 600;
  margin-left: -136px;
}
.pricing_card_price_sml_text{
  margin-left: -100px;
  font-size: .8125rem;
    line-height: 1.25rem;
}
.pricing_card_price_sml_text1{
  margin-left: -190px;
  font-size: .8125rem;
    line-height: 1.25rem;
}
.pricing_card_herosub_heding_text{
text-align: left;
    line-height: 20px;
    color: #241c15;
    font-size: .8125rem;
}
.pricing_card_herosub_heding_text1{
  text-align: left;
font-size: .9195rem;
        line-height: 1.25rem;
        color: #241c15;
        font-weight: 400;
    } 
.pricing_card_h2_heading{
  text-align: left;
  font-family: 'Means Web, Georgia, Times, Times New Roman,poppins';

}
.desde{
margin-left: 25px;
text-align: left;

}
.section_top-hed_style{
  text-align: center;
}
.section_top-hed_h1_style{
  text-align: center;
  font-weight: 400;
    font-family: Means Web, Georgia, Times, Times New Roman, serif;
    margin-bottom: 50px;
    font-size: 46px;
}
.spn_clr_style{
border-bottom:   solid 10px yellow;

}

/* -----popup styles----- */
button.btn{
  /* background-color: #0D52E9; */
  position: relative;
  color: #fff;
  border: none;
  padding: 1.25em 2em;
  font-size: 0.75em;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: background 0.25s cubic-bezier(0.55, 0, 0.1, 1); */
}
/* button.btn:hover {
  background: #0c4ddb;
}
button.btn:focus {
  outline: none;
} */

/**
 * Overlay
 * -- only show for tablet and up
 */
@media only screen and (min-width: 40em) {
  .modal-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  }
  .modal-overlay.active {
    opacity: 1;
    visibility: visible;
  }
}
/**
 * Modal
 */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  width: 600px;
  max-width: 75rem;
  min-height: 20rem;
  padding: 1rem;
  border-radius: 3px;
  opacity: 0;
  overflow-y: auto;
  visibility: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: scale(1.2);
  transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}
.modal .close-modal {
  position: absolute;
  cursor: pointer;
  top: 5px;
  right: 15px;
  opacity: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition-delay: 0.3s;
}
.modal .close-modal svg {
  width: 1.75em;
  height: 1.75em;
}
.modal .modal-content {
  opacity: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition-delay: 0.3s;
}
.modal.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.modal.active .modal-content {
  opacity: 1;
}
.modal.active .close-modal {
  transform: translateY(10px);
  opacity: 1;
}

/**
 * Mobile styling
 */
@media only screen and (max-width: 39.9375em) {
  h1 {
    font-size: 1.5rem;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    border-radius: 0;
    transform: scale(1.1);
    padding: 0 !important;
  }

  .close-modal {
    right: 20px !important;
  }
}

/* -----buttons------- */
.Card_Discription_button222{
  --color: black;
  --hover:black;
  border-radius: 26px;
  border: 1px solid black;
  background: none;
  font-size: 14px;
  font-weight: 600;
  padding: 4px;
  text-align: center;
  margin-top: 42px;
  width:100%;
}
.Card_Discription_button222:hover,
.Card_Discription_button:focus {
  box-shadow: 0 0.8em 0.8em -0.4em var(--hover);
  transform: translateY(-0.25em);
}
.Card_Discription_button123{
  --color: black;
  --hover:black;
  border-radius: 26px;
  border: 1px solid black;
  background: yellow;
  font-size: 14px;
  font-weight: 600;
  padding: 4px;
  text-align: center;
  margin-top: 42px;
  width:100%;
  padding: 10px;
}
.Card_Discription_button123:hover,
.Card_Discription_button:focus {
  box-shadow: 0 0.8em 0.8em -0.4em var(--hover);
  transform: translateY(-0.25em);
}
.fi.fi-br-cross{
color:gray !important;
}
.pricing_card_text_styles35{
  /* text-decoration-line: underline;
  text-decoration-style: solid; */
  border-bottom: .0125rem solid #dbd9d2;
  max-height: 4.75rem;
        padding-top: 10px;
        padding-bottom: 1.25rem;
        padding-left: 1.5625rem;
        text-align: left;
        font-size: 12px;
        color: gray;
}
.parah_text{
  color: black;
  font-size: 12px;
  margin-top:30px;
}


/* ------------hover styles-------- */
/* .btn {
  margin: 20px auto;
  border: none;
  padding: 10px 44px;
  font-size: 36px;
  position: relative;
} */
.btn::before {
  transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  content: "";
  width: 500%;
  height: 100%;
  color: black;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50px;
}
/* .btn .btn-text {
  color: white;
  mix-blend-mode: difference;
} */
.btn:hover::before {
  color: black;
  width: 100%;
}
.btn.rounded {
  border-radius: 50px;
}
.btn.rounded .text-green {
  color: #00F0B5;
  mix-blend-mode: difference;
}
.btn.rounded::before {
  border-radius: 50px;
  width: 26%;
  background: yellow;
  color: black;
}
.btn.rounded:hover::before {
  background: yellow;
  color: black;
  width: 100%;
}
/* .check{
color: black;
font-size: 12px;
} */
.xcsdcf{
  overflow: hidden;
  position: sticky;
  /* top: 0; */
  display: grid;
  padding: 3rem;
  height: calc(100vh - var(--iaGlobalNavHeight));
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
   bottom: 0; 
  left: 0;

}



.fixed-column {
  position: fixed;
  top: 0;
  /* bottom: 0; */
  left: 0;
  padding: 20px;
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
}
.scrolling-column {
  padding: 20px;
}
/* ----accordian styles---- */
/*  */

.acc-container {
  padding: 4rem 2rem;
}
.acc-btn {
  width: 100%;
  padding: 1.6rem 2rem;
  font-size: 0.96rem;
  cursor: pointer;
  background: inherit;
  border: none;
  outline: none;
  text-align: left;
  transition: all 0.5s linear;
}
.acc-btn:after {
  content: "\27A4";
  color: #fa8d0c;
  float: right;
  transition: all 0.3s linear;
}
.acc-btn.is-open:after {
  transform: rotate(90deg);
}
.acc-btn:hover, .acc-btn.is-open {
  color: #000;
  font-weight: bold;
}

.acc-content {
  max-height: 0;
  color: rgba(0,0,0,0.75);
  font-size: 1.5rem;
  margin: 0 2rem;
  padding-left: 1rem;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  border-bottom: 1px solid black;
}

.credit {
  text-align: center;
  padding: 1rem;
}
.credit a {
  text-decoration: wavy underline;
  color: dodgerblue;
}
.firsr_div{
background-color: #ecb669;
}

  .dwmld-img{
height:100%;
  }


/* ----scrolling----- */
#sticky-wrap {
  top: -115px;
  background: red;
  transition: 1s all ease;
}
#sticky-wrap.stickyhead {
  position: fixed;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  /* padding: 3px; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
/* */
#sticky-wrap h1 {
  font-size: 2rem;
  text-align: center;
  margin: 0;
  /* padding: 1.5em 0; */
}
#sticky-wrap.stickyhead h1 {
  /* padding: 1rem 0; */
  font-size: 1rem;
  color: #fff;
}
.wrap {
  background: #f9f9f9;
  /* padding: 10px; */
  display: flex;
  align-items: flex-start;
}
.content {
  /* padding: 10px; */
}
.content p {
  margin-top: 0;
}
.fixed-sidebar {
  position: fixed;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  /* width: 100%; */
  /* height: 100%; */
  padding: 10px;
  overflow: auto;
  background: #eee;
  /* border: 1px solid #000; */
  transition: 1s all ease;
}

.fixed-sidebar a {
  display: block;
  color: #000;
  /* padding: 55px ; */
  text-decoration: none;
}

.stickyhead + .wrap .fixed-sidebar {
  top: 65px; /* magic number alert*/
}


#animContainer {
  width: 100%;
  height: 100%;
  margin: auto;
}
#animContainer1 {
  width: 100%;
  height: 100%;
  margin: auto;
}
.scrollling_text_div{
  /* padding: 100px; */
  text-align: center;
  font-size: 34px;

  margin-top: 200px;
}
.scrollling_text_div2{
  /* padding: 100px; */
  text-align: center;
  font-size: 34px;

  margin-top: 200px;
}
.scrollling_text_div3{
  /* padding: 100px; */
  text-align: center;
  font-size: 34px;

  margin-top: 150px;
}
.scrollling_text_div_sub{
  text-align: left;
  font-size: 18px;
  margin-left: 180px;
}


.btn.rounded1::before {
  border-radius: 50px;
  width: 26% !important;
  background: yellow;
  color: black;

}
div.containers{
  margin-left: 158px;
}
.free_pricing_card{
  margin-top: 84px;
  text-align: left;
}
.section_cls{
  padding: 100px;
}

/* ----------------mobile responsive-------------*/

@media only screen and (max-width: 768px) {


  .back-color-section {
    padding: 0px;
  }
  .sec-section_sub_styless {
    color: white;
    font-size: 24px;
    margin-top: 71px;
}
.girl_img{
  width: -webkit-fill-available;
}
.section_cls{
  padding: 10px;
}
.btn::before {
  
display: hidden;
}
.animation_scroll-text{
  font-size: 22px;
}
.scrollling_text_div {
 
  text-align: center;
  font-size: 27px;
  margin-top: 29px;
}
.scrollling_text_div_sub {
margin-top: 31px !important; 
  text-align: left;
  font-size: 20px;
  margin-left: 71px;
}
div.containers {
  margin-left: 68px;


}
.scrollling_text_div2 {

  text-align: center;
  font-size: 25px;
  margin-top: 33px;
}
.scrollling_text_div3 {
  
  text-align: center;
  font-size: 26px;
  margin-top: 49px;
}

.desde {
  margin-left: 25px;
  text-align: center;
}
.pricimg_card_main_head {
  color: rgba(36, 28, 21, .65);
  margin-left: 20px;
}
.pricing_card_price {
 
  margin-left: 17px;
}

.pricing_card_price_sml_text {
  margin-left: 12px;

}
.btn.rounded {
display:none;
}

.pricing {
  display: -webkit-flex;
  display: flex;
  /* -webkit-flex-wrap: wrap; */
    flex-wrap: wrap; 
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}




}
@media only screen and (max-width: 768px) and  (max-width: 812px){

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    
  }
  .sec-section_sub_styless {
    color: white;
    font-size: 24px;
    margin-top: 114px;
}
.col-style{
  margin-top: 0;
}
.girl_img {
margin-top: 50px;
}
.pricing {
  display: grid;
  display: flex;
  /* -webkit-flex-wrap: wrap; */
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

}
